

@font-face {
  font-family: 'Tiempos-Headline-Medium';
  src: url('../../assets/fonts/OTF/TiemposHeadline-Medium.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Tiempos-Headline-Bold';
  src: url('../../assets/fonts/OTF/TiemposHeadline-Bold.otf');
  font-weight: 900;
}

@font-face {
  font-family: 'Tiempos-Headline-Black';
  src: url('../../assets/fonts/OTF/TiemposHeadline-Black.otf');
  font-weight: 900;
}


@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('../../assets/fonts/OTF/SourceSansPro-Regular.otf');
}

//@font-face {
//    font-family: 'Roboto';
//    src: url('../../assets/fonts/roboto/Roboto-Thin-webfont.woff');
//    font-weight: 100;
//}
//@font-face {
//    font-family: 'Roboto';
//    src: url('../../assets/fonts/roboto/Roboto-Light-webfont.woff');
//    font-weight: 300;
//}
//@font-face {
//    font-family: 'Roboto';
//    src: url('../../assets/fonts/roboto/Roboto-Regular-webfont.woff');
//    font-weight: 400;
//}
//@font-face {
//    font-family: 'Roboto';
//    src: url('../../assets/fonts/roboto/Roboto-Medium-webfont.woff');
//    font-weight: 500;
//}
//@font-face {
//    font-family: 'Roboto';
//    src: url('../../assets/fonts/roboto/Roboto-Bold-webfont.woff');
//    font-weight: 700;
//}
//@font-face {
//    font-family: 'Roboto';
//    src: url('../../assets/fonts/roboto/Roboto-Black-webfont.woff');
//    font-weight: 900;
//}
//
//@font-face {
//    font-family: 'Roboto Condensed';
//    src: url('../../assets/fonts/roboto/RobotoCondensed-Light-webfont.woff');
//    font-weight: 300;
//}
//@font-face {
//    font-family: 'Roboto Condensed';
//    src: url('../../assets/fonts/roboto/RobotoCondensed-Regular-webfont.woff');
//    font-weight: 400;
//}
//
//body {
//  font-family: 'Roboto', 'Arial', sans-serif;
//  font-weight: 300;
//}
//
//strong {
//  font-weight: 500;
//}
//
//h1 {
//  font-family: 'Roboto', 'Arial', sans-serif;
//  font-weight: 900;
//  font-size: 50px;
//  @media (max-width: $vsm-breakpoint-md - 1px) { font-size: 45px; }
//}
//
//h2 {
//  font-size: 33px;
//  font-weight: 300;
//}
//
//h3 {
//  font-size: 20px;
//  font-weight: 500;
//}
//
//h4 {
//  font-size: 16px;
//  font-weight: 400;
//}
//
//h1, h2, h3, h4, h5 {
//  color: $skf-stone;
//}
//
//.help-text {
//  font-family: 'Arial', sans-serif;
//  font-size: 11px;
//  color: $skf-stone;
//}
