@import "../styles/variables.scss";

.top {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 98px;
  overflow: hidden;
  padding: 30px 0 30px 30px;
  transition: all .4s ease-in-out;
  border-bottom: 1px solid transparent;
  transition: border .4s ease-in-out, height .4s ease-in-out, padding .4s ease-in-out, top .4s ease-in-out, background .4s ease-in-out;
}

.top .logo {
  position: relative;
  display: block;
}

.top .logo img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s ease-in-out;
  width: 120px;
}

img {
  max-width: 100%;
  border: 0;
}

.top nav {
  position: absolute;
  right: -5px;
  top: 25px;
  transition: top .4s ease-in-out;
}

.top.nav-up {
  top: -88px;
}

.top.nav-white {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid $west-consulting-black-text-color;
  height: 80px;
  padding: 18px 0 18px 30px;
  /*transition: border .4s ease-in-out .4s, height .4s ease-in-out .4s, padding .4s ease-in-out .4s, top .4s ease-in-out, background .4s ease-in-out .4s;
*/
}

.top.nav-white nav ul li a {
  color: $west-consulting-black-text-color;
  transition-delay: .4s;
}

.top nav ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

ul, ol {
  padding-left: 20px;
  font-weight: bold;
}

.top nav ul li {
  display: block;
  float: left;
  line-height: 1;
}

.top nav ul li a {
  line-height: 38px;
  margin: 0 20px;
  padding: 0 5px;
  display: block;
  color: white;
  font-size: 18px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .top nav ul li a {
    font-size: 16px;
    margin: 10px 10px;
    line-height: 25px;
  }
  .top .logo img {
    width: 100px;
    //top: 5px;
  }

  .top.nav-white .logo img {
    top: 6px;
  }
  .top, .top.nav-white {
    padding-left: 10px;
  }
}

a {
  color: $west-consulting-black-text-color;
  text-decoration: none;
  cursor: pointer;
}
