<footer class="footer alternative-bg" id="westc-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center has-padding">
        <img src="/assets/logos/westc.png" class="footer-logo" alt="westc">
        <ul>
          <li><a href="mailto:jonas@westc.se">Email</a></li>
          <li><a href="https://www.linkedin.com/in/jonas-karlsson-14b231a/">LinkedIn</a></li>
        </ul>
        <p class="credit">© 2018 westc.</p>
      </div>
    </div>
  </div>
</footer>
