<div [ngClass]="timeOfYear + ' jumbotron'">
  <div class="mt-5 fadeIn">
    <p class="teaser">
      <strong>Gothenburg based</strong>
    </p>
    <h1>Solution Architect<br/>& Developer<br/></h1>
    <div class="call-to-action">
      <a href="mailto:jonas@westc.se"><span>Email me</span></a>
    </div>
  </div>
  <div class="sky">
    <div class="big_cloud" style="background:url(../../assets/animations/big_cloud.png)"></div>
    <div class="stretched_cloud" style="background:url(../../assets/animations/stretched_cloud.png)"></div>
    <div class="small_clouds" style="background:url(../../assets/animations/small_clouds.png)"></div>
  </div>
</div>

<section>
  <div class="row">
    <div class="col-md-6 alternative-bg text-center clickable" routerLink="/competences">
      <section class="has-padding text-center clickable" routerLink="/competences">
        <h2 class="featurette-heading">Find out what I can do in your business</h2>
        <div class="call-to-action">
          <a routerLink="/competences"><span>Read more</span></a>
        </div>
      </section>
    </div>
    <div class="col-md-6 westc-black-background text-white featurette clickable" routerLink="/about">
      <section class="has-padding featurette clickable"routerLink="/about">
        <div class="text-center clickable" routerLink="/about">
          <h2 class="featurette-heading">Learn more about me and the company</h2>
          <div class="call-to-action">
            <a routerLink="/about"><span>Read more</span></a>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<section class="has-padding">
  <div class="container">
    <div class="row clickable" routerLink="/about">
      <div class="col-6 col-lg-6">
        <div class="pt-md-5 text-right">
        <span class="quoted-heading font-italic">"A Solution Architect to trust and rely on"
        </span>
          <p>- Project Manager</p>
        </div>
      </div>
      <div class="col-6 col-lg-6 align-self-center">
        <img class="featurette-image img-fluid mx-auto jonas-image" src="../../assets/500X500/jonas.png"
             alt="Jonas image">
      </div>
    </div>
  </div>
</section>
