<header class="top" [class.nav-white]="scrolledUp && !scrollPositionTop" [class.nav-up]="!scrolledUp && !scrollPositionTop">
  <a class="logo" href="/">
    WEST CONSULTING
    <img src="/assets/some-dark-logo.svg" class="logo-dark" alt="">
    <img src="/assets/some-light-logo.svg" class="logo-light" alt="">
  </a>
  <nav>
    <ul>
      <li class=""><a href="/jobs">About</a></li>
      <li class=""><a href="/about">Competences</a></li>
      <li class=""><a href="/team">Contact</a></li>
    </ul>
  </nav>
</header>

<!-- Begin page content -->
<div class="container">
  <div class="mt-3">
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
    <h1 class="banner-heading">Quality, trust, competence</h1>
  </div>

</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">WEST CONSULTING</span>
  </div>
</footer>
