<div class="jumbotron birds">
  <div class="mt-5 fadeIn">
    <h1>What I can do in your business</h1>
  </div>
</div>

<section class="has-padding">
  <div class="container">
    <div class="row">
      <span class="text-center w-100">
      <h3>Roles</h3>
        </span>
      <div class="col-md-12">
        <h4>Solution Architect</h4>
        <p>
          This is a role I'm really comfortable in and had in several projects. For me, a Solution Architect works
          within the following areas:
        </p>
        <ul>
          <li>
            Being the primary contact in technical discussions with the customer
          </li>
          <li>
            Technical E2E responsibility for a solution, including both functional and non functional requirements.
            It could be aligning a solution with the technical roadmap and to ensure agreed levels of performance, scalability
            and SEO are fulfilled
          </li>
          <li>
            Leadership in, potentially, distributed teams sitting around the world with an international Customer acting
            in many markets
          </li>
          <li>
            Be a part of estimations and bidding for new functionality and new solutions
          </li>
          <li>
            Coding and testing
          </li>
        </ul>

        <h4>Fullstack Web Developer</h4>
        <p>
          I have long experience in working as a pure developer booth in backend technologies and also in modern front
          end technologies and I’m comfortable with the ecosystem surrounding these technologies.
        </p>
        <h4>Scrum master</h4>
        <p>
          I’ve had the role as a scrum master and, most importantly, have long experience of working along with great
          Scrum masters which given me a solid tool box for how agile scrum teams should be managed in the most
          efficient way.
        <p>
          This makes me an appropriate agile leader.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="has-padding alternative-bg">
  <div class="container">
    <div class="row">
      <span class="text-center w-100">
        <h3>Recent stack</h3>
      </span>
      <div class="col-md-4">
        <h4>Backend</h4>
        <ul>
          <li>
            Java 8
          </li>
          <li>
            Spring 4
          </li>
          <li>
            Encryption
          </li>
          <li>
            Node.js
          </li>
          <li>
            Postgres
          </li>
          <li>
            DynamoDB
          </li>
          <li>
            Apache Solr
          </li>
          <li>
            MongoDB
          </li>
          <li>
            Oracle
          </li>
          <li>
            Gatling
          </li>
          <li>
            Scripting
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h4>Front end</h4>
        <ul>
          <li>
            Angular 5
          </li>
          <li>
            JavaScript (ES6) / TypeScript
          </li>
          <li>
            HTML5
          </li>
          <li>
            Bootstrap 4
          </li>
          <li>
            CSS3 / SCSS
          </li>
          <li>
            UI / UX
          </li>
          <li>
            Selenium
          </li>
          <li>
            Responsive design
          </li>
          <li>
            Map and Geocode integrations: Google, Here, Bing, OSM, Autonavi
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Methodologies and tools</h4>
        <ul>
          <li>
            Amazon Web Services (AWS)
          </li>
          <li>
            Microservice Architecture
          </li>
          <li>
            SEO optimization
          </li>
          <li>
            Scrum / Kanban processes
          </li>
          <li>
            Docker
          </li>
          <li>
            Git
          </li>
          <li>
            Tridion CMS
          </li>
          <li>
            Jira
          </li>
          <li>
            Confluence
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="has-padding westc-black-background text-white featurette clickable" (click)="routeTo('about')">
  <div class="text-center clickable" (click)="routeTo('competences')">
    <h2 class="featurette-heading">Learn more about me and the company</h2>
    <div class="call-to-action">
      <a routerLink="/about"><span>Read more</span></a>
    </div>
  </div>
</section>
